.contact-wrapper {
    height: 100dvh;
    width: 100%;
    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px;
}

.contact-title {
    font-weight: 300;
    letter-spacing: 15px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100dvh;

    justify-content: center;
}

/* CONTACT INFO */

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15dvh;
    width: 100%;
    height: auto;

    padding: 50px;


}

.phone {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.phone img {
    width: 60px;
}

.phone.dark #dark {
    display: none;
}

.phone.light #light {
    display: none;
}


.email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.email img {
    width: 60px;
}

.email.dark #dark {
    display: none;
}

.email.light #light {
    display: none;
}

.address {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.address img {
    width: 60px;
}

.address.dark #dark {
    display: none;
}

.address.light #light {
    display: none;
}

/* LINE SPLITTER */

.contact-line-splitter {
    width: 1px;
    height: 100%;
}

.contact-line-splitter.dark {
    background-color: #FFFFFF;
}

.contact-line-splitter.light {
    background-color: #111;
}

/* CONTACT MESSAGE */

.contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
    width: 100%;
    height: auto;
}

.contact-form input {
    background-color: transparent;
    border-radius: 5px;
    font-family: 'Montserrat','sans-serif';
    padding: 20px;
    letter-spacing: 2px;
}

.contact-form.dark input {
    color: rgba(255,255,255,0.5);
    border: solid 1px rgba(255,255,255,0.5);
}

.contact-form.light input {
    color: rgba(0,0,0,0.8);
    border: solid 1px rgba(0,0,0,0.8);
}

.message-box {
    display: flex;
    gap: 20px;
    height: 40dvh;
}

.message-box textarea {
    font-family: 'Montserrat','sans-serif';
    resize: none;
    padding: 20px;
    width: 80%;
    height: 100%;
    background-color: transparent;
    letter-spacing: 2px;
    border-radius: 5px;
}

.message-box.dark textarea {
    color: rgba(255,255,255,0.5);
    border: solid 1px rgba(255,255,255,0.5);
}

.message-box.light textarea {
    color: rgba(0,0,0,0.8);
    border: solid 1px rgba(0,0,0,0.8);
}

.message-box button {
    transition: 0.3s ease;
    border-radius: 10px;
    height: 100%;
    width: 20%;
    border: none;
}

.message-box.dark button {
    background: linear-gradient(
        to bottom,
        #D9D9D9 50%,
        #737373 100%
    );
}

.message-box.light button {
    background: linear-gradient(
        to bottom,
        #212121 50%,
        #3F3F3F 100%
    );
}

.message-box button img {
    width: 50px;
}

.message-box button:hover {
    transition: 0.3s ease;
    
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    transform: translateY(-5px);
}
