.contact-wrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 15dvh 0;
}

.contact-title {
    text-align: center;
    font-size: 5dvh;
    letter-spacing: 7px;
    font-weight: 200;

}

.contact-title p span {
    font-weight: 600;
    color: #BC2427;
}

.sub-header {
    padding: 50px 180px;
    text-align: center;
}

.sub-header.dark {
    color: rgba(255,255,255,0.5);
}

.sub-header.light {
    color: rgba(0,0,0,0.5);
}

.sub-header span {
    color:#BC2427;
}

.sub-header strong {
    color: rgba(255,255,255,1);
}

.sub-header.light strong {
    transition: all 0.3s ease;
    color: rgba(0,0,0,1);
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 180px;
    gap: 1rem;
}

.form-row {
    display: flex;
    gap: 1rem;
}

input, textarea {
    flex: 1;
    width: 100%;
    height: 10dvh;
    padding: 10px 15px;
    background-color: #212121;
    border: solid 1px #3F3F3F;
    border-radius: 10px;
    font-family: 'Montserrat','sans-serif';
    color: rgba(255,255,255,0.5);
    letter-spacing: 1.5px;
    transition: 0.3s ease;
}

textarea {
    min-height: 150px;
    resize: none;
    width: 100%;
}


.form-row.light {
    transition: 0.3s ease;
    background-color: #b9b9b9;
    color: rgba(0,0,0,0.8);
    border: solid 1px #c2c2c2;
}

.contact-form.light input{
    transition: 0.3s ease;
    background-color: #b9b9b9;
    color: rgba(0,0,0,0.8);
    border: solid 1px #c2c2c2;
}


.contact-form input::placeholder {
    font-family: 'Montserrat','sans-serif';
}

.contact-form button {
    transition: 0.3s ease;
    background: linear-gradient(
        to bottom,
        #BC2427,
        #811113
    );
    color: white;
    font-family: 'Montserrat','sans-serif';
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.contact-form button img {
    width: 25px;
}

.contact-form button:hover {
    transition: 0.3s ease;
    background: linear-gradient(
        to bottom,
        #e92d30,
        #BC2427
    );
}

.contact-form button:active {
    background-color: #811113;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
}

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone.dark h1 #dark-icon{
    display: none;
}

.phone.light h1 #light-icon{
    display: none;
}

.phone h1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone h1 img {
    width: 30px;
}

.phone p {
    color:#BC2427;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email.dark h1 #dark-icon{
    display: none;
}

.email.light h1 #light-icon{
    display: none;
}

.email h1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 10px;
}

.email h1 img {
    width: 30px;
}

.email p {
    color:#BC2427;
}