.dark-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px 12px;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #111;
  color: white;
  transition: 0.3s ease;
}

.dark-toggle-button:hover {
  transform: scale(1.1);
}
