.dark-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 5px 25px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #111;
  color: white;
  transition: 0.3s ease;
}

.dark-toggle-button:hover {
  transform: scale(1.1);
}

.dark-toggle-button.light {
  color: #111;
  background-color: white;
}


.sun {
  background-color: #111;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: translateX(20px);
  transition: all 0.3s ease;
}

.moon {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: translateX(-15px);
  position: absolute;
  bottom: 5px;
  transition: all 0.3s ease;
}

.moon::after {
  content: "";
  left: 25px;
  background-color: #111;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  left: 10px;
}

.dark-toggle-button.light .moon {
  transition: all 0.3s ease;
  opacity: 0%;
  transform: translateX(10px);
}

.dark-toggle-button.light .moon::after {
  transition: 0.3s ease;
  left: 0px;
}

.dark-toggle-button.dark .sun {
  transition: all 0.3s ease;
  transform: translateX(-20px);
}
