.project-wrapper {
    width: 100%;
    height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    text-align: center;
    font-size: 7dvh;
    letter-spacing: 5px;
    font-weight: 200;

}

.projects-title p span {
    font-weight: 800;
    color: #BC2427;
}
