.project-wrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 15dvh;
}

.projects-title {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 15px;
    font-weight: 200;

    padding: 0 15px;

}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 100px;
    gap: 50px;
    width: 100%;
}

.project-box {
    background-color: #212121;
    height: 500px;
    width: 80%;
    max-width: 1000px;
    border: solid 1px #3F3F3F;
    border-radius: 20px;
    position: relative;
    transition: 0.4s ease;
    overflow: hidden;
}

#project-one {
    background-image: url('../../assets/Maison-D-thumbnail.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project-info.dark {
    background: linear-gradient(transparent, #212121);
}
.project-info.light {
    background: linear-gradient(transparent, white);
}

.project-box:hover{
    transform: translateY(-5px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    transition: 0.4s ease;

}

.project-box:hover .project-info {
    transform: translateY(0);
}

.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tags li {
    background: linear-gradient(
        to bottom,
        #BC2427,
        #6b0e11
    );
    padding: 8px 20px;
    color: white;
    border-radius: 5px;
    transition: 0.3s ease;
}

.tags li:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.view-project {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
}

.view-project:hover {
    transform: scale(1.1);
}
.view-project.dark {
    background-color: aliceblue;
    color: #212121;
    font-weight: 800;
    padding: 25px;
    border-top-left-radius: 40px;
}

.view-project.light {
    background-color: #212121;
    color: white;
    font-weight: 800;
    padding: 25px;
    border-top-left-radius: 40px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 720px) {
    .projects-container {
        padding: 50px 0;
    }

    .project-box {
        border-radius: 0px;
        width: 100%;
    }
}