.skills-wrapper {
    height: 100dvh;
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 150px 0;
}

.development-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50dvh;

    width: 100%;
}

.development-container h1{
    letter-spacing: 15px;
    font-weight: 300;
}

.development-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.dev-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dev-left p {
    opacity: 50%;
    text-align: right;
}

.line-left {
    background-color: rgba(255,255,255,0.5);
    height: 1px;
    width: 100%;
}

.development-info.light .line-left {
    background-color: rgba(0,0,0,0.5);
}

.development-icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0 5px;
}

.development-icons img{
    opacity: 30%;
    width: 50px;
}

.development-icons img:hover {
    opacity: 100%;
    transform: scale(1.1);
}


.dev-right {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.line-right {
    background-color: rgba(255,255,255,0.5);
    height: 1px;
    width: 100%;
}

.development-info.light .line-right {
    background-color: rgba(0,0,0,0.5);
}


/* TOOLS */

.tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50dvh;

    width: 100%;
}

.tools-container h1{
    letter-spacing: 15px;
    font-weight: 300;
}

.tools-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}