.navbar {
    width: 100%;
    height: auto;
    padding: 30px;

    display: flex;
    flex-direction: row;


    position: fixed;
    justify-content: center;
    z-index: 2;
}


.navbar.scrolled {
    background: transparent;
    position: fixed;
    justify-content: center;
    z-index: 999;
}

.navbar a img {
    position: absolute;
    left: 30px;
}


.navigation-links {
    width: 100dvh;
    height: 6dvh;
    background: #2B2B2B;
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
    transition: width 0.4s ease, gap 0.4s ease;
    
    overflow: hidden;
}

.navigation-links li a {
    color: white;
}

.navigation-links li:hover a{
    color: #BC2427;
}

.navigation-links img{
    display: none;
}

.navigation-links.scrolled {
    background: #2B2B2B;
    box-shadow: 0 7px 10px rgba(0,0,0,0.5);
    border-radius: 50px;
    height: 6dvh;
    width: 15dvh;
    gap: 0;
}

.navigation-links.scrolled:hover{
    gap: 100px;
    width: 100dvh;
}

.navigation-links li {
    list-style: none;
    transition: opacity 0.3s ease;
}

.navigation-links.scrolled li {
    opacity: 0;
    pointer-events: none;
}

.navigation-links.scrolled:hover li {
    opacity: 1;
    pointer-events: auto;
    transition: 0.3 ease;
    display: flex;
}

.navigation-links.scrolled:hover a {
    color: white;
}

.navigation-links.scrolled li{
    display: none;
}

.navigation-links.scrolled li:hover a {
    color: #BC2427;
}

.navigation-links.scrolled img {
    width: 4dvh;
    display: block;
}

.navigation-links a {
    text-decoration: none;
}

.navbar li {
    list-style-type: none;
}

.navbar a img {
    width: 150px;
}


.dark-mode {
    display: flex;
    transition: 0.3s ease;
}

.light-mode {
    display: none;
    transition: 0.3s ease;
}


.dark {
    color: white;
    transition: all 0.3s ease;
}

.light {
    color: black;
    transition: all 0.3s ease;
}