/* NAVBAR LOGO STYLES */

.navbar-logo img {
    z-index: 999;
    width: 150px;
    position: fixed;
    left: 30px;
    top: 30px;
}

.navbar-logo.dark #light {
    display: none;
} 

.navbar-logo.light #dark {
    display: none;
}



/* NAVBAR STYLES */

.nav-wrapper {
    z-index: 888;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: width 0.4s ease;
    width: 50%;
    height: 50%;
    border-radius: 100px;
    background-color: #191919;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);

    overflow: hidden;
}

.nav-container .hamburger {
    display: none;
}

.nav-container .cancel {
    display: none;
}

.nav-container.scrolled {
    background-image: url('../../assets/Menu.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 125px;
}

.nav-container.scrolled ul {
    opacity: 0;
    visibility: hidden;
}

.nav-container.scrolled:hover {
    background-image: none;
    width: 50%;
}

.nav-container.scrolled:hover ul {
    opacity: 1;
    visibility: visible;
}

.nav-container ul {
    display: flex;

    justify-content: center;
    gap: 10%;
    width: 100%;
}

.nav-container ul li {
   list-style: none;
}

.nav-container ul li a {
    transition: all 0.3s ease;
    color: white;
    text-decoration: none;
}

/* FOR MOBILE RESPONSIVE */

@media (max-width: 900px) {
    .nav-container ul li a {
        font-size: 12px;
    }
}

@media (max-width: 720px) {
    .quick-nav {
        z-index: 999;
        position: fixed;
        background-position: center;
        background-size: 35px;
        background-repeat: no-repeat;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        transition: 0.3s ease;

        bottom: 30px;
        left: 30px;
        height: 50px;
        border-radius: 10px;
        cursor: pointer;
        width: 50px;
    }

    .quick-nav:hover {
        transform: translateY(-5px);
    }

    .quick-nav.light {
        background-image: url('../../assets/ArrowLight.png');
        background-color: #191919;
    }

    .quick-nav.dark {
        background-image: url('../../assets/ArrowDark.png');
        background-color: #FFFFFF;
    }



    .nav-container ul li a {
        font-size: 16px;
    }

    .nav-wrapper {
        align-items: start;
    }   

    .navbar-logo {
        display: none;
    }

    .nav-wrapper {
        justify-content: start;
    }

    .nav-container {
        width: 100%;
        border-radius: 0px;
        min-height: 45%;
        background-color: rgba(0,0,0,0);
        box-shadow: none;
        transition: height 0.4s ease, background-color 0.4s ease;
    }

    .nav-container ul {
        display: none;
    }

    .nav-container.scrolled {
        width: 100%;
        background-image: none;
    }

    .nav-container.scrolled:hover {
        width: 100%;
    }

    .nav-container .hamburger {
        position: fixed;
        top: 30px;
        right: 30px;
        color: white;
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    #nav-active{
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: blur(3px);
        height: 300px;
    }

    #nav-active .hamburger {
        display: none;
    }

    #nav-active .cancel {
        position: fixed;
        top: 30px;
        right: 30px;
        color: white;
        display: block;
        cursor: pointer;
        font-size: 30px;
    }

    #nav-active ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 40px;
    }

    #nav-active ul{
        opacity: 1;
        visibility: visible;
    }

    #light-hamburger {
        color: #191919;
    }

}