/* index.css or App.css */

body {
  background-color: #191919;
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: #ffffff;
}

/* This removes the blue or gray tap highlight on mobile devices */
a, button {
  -webkit-tap-highlight-color: transparent;
}