.media-wrapper {
    width: 100%;
    height: 25dvh;
    display: flex;
    align-items: center;
    background-color: #2B2B2B;
}

.media-container {
    background-color: #2B2B2B;
    width: 100%;
    height: 23dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 0 30px;

    overflow-x: hidden;
    overflow-x: scroll;

    border-top: solid 1px #737373;
    border-bottom: solid 1px #737373;
}

.media-container::-webkit-scrollbar {
    width: 100%;
    height: 2px;
}

.media-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.media-container::-webkit-scrollbar-thumb {
    background-color: #737373;
    border-radius: 100px;
}

.media-container a img{
    width: 80px;
    opacity: 20%;
    transition: 0.3s ease;
}

.media-container a:hover img{
    transition: 0.3s ease;
    transform: scale(1.1);
    opacity: 100%;
}